In [15]:
import pandas as pd
import numpy as np
!pip install --upgrade finrl
!pip install ta --user
!pip install finrl --user
from ta import add_all_ta_features
from ta.utils import dropna
#from finrl.meta.data_processor import datasplit
#from finrl.meta.preprocessor.preprocessors import FeatureEngineer

Requirement already satisfied: finrl in c:\users\user\anaconda3\lib\site-packages (0.3.7)
Requirement already satisfied: ta in c:\users\user\anaconda3\lib\site-packages (0.11.0)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from ta) (1.26.4)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (from ta) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas->ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->ta) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas->ta) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->ta) (1.16.0)
Requirement already satisfied: finrl in c:\users\user\anaconda3\lib\site-packages (0.3.7)

In [16]:
# import finrl.meta.data_processor as dp

In [17]:
# import pandas as pd

# def data_split(data, start_date, end_date):
#     """
#     Filters the dataset based on the given date range.

#     Args:
#         data (pd.DataFrame): The dataset to be filtered, should have a DatetimeIndex.
#         start_date (str or pd.Timestamp): The start date for filtering.
#         end_date (str or pd.Timestamp): The end date for filtering.

#     Returns:
#         pd.DataFrame: The data between start_date and end_date.
#     """
#     # Ensure the index is a DatetimeIndex
#     if not isinstance(data.index, pd.DatetimeIndex):
#         data.index = pd.to_datetime(data.index)
    
#     # Convert start_date and end_date to Timestamps if they aren't already
#     start_date = pd.to_datetime(start_date)
#     end_date = pd.to_datetime(end_date)

#     # Filter the data by date range
#     return data[(data.index >= start_date) & (data.index < end_date)]

In [53]:
%store -r data_df
%store -r filtered_stocks
%store -r df_close_full_stocks

In [55]:
# # Load the close prices dataset
data_df = pd.read_csv('datasets/data_df_cov.csv')

In [56]:
data_df.head()

,date,tick,close,high,low,open,volume,cov_list,stock_price,sentiment_score,f01,f02,f03,f04
0,03/01/2014,AAPL,16.855730,19.775000,19.301071,19.745001,392.467600,[[ 1.36858566e-04 4.62834352e-05 5.35251788e...,16.855730,0.975347,2.705696,2.193271,2.311771,0.030933
1,03/01/2014,AMZN,19.822001,20.135500,19.811001,19.914499,44.204000,[[ 1.36858566e-04 4.62834352e-05 5.35251788e...,19.822001,1.000000,2.705696,2.193271,2.311771,0.030933
2,03/01/2014,AVGO,3.976333,5.296000,5.196000,5.245000,11.661000,[[ 1.36858566e-04 4.62834352e-05 5.35251788e...,3.976333,0.953942,2.705696,2.193271,2.311771,0.030933
3,03/01/2014,COST,93.952637,118.360001,117.129997,118.209999,1.293500,[[ 1.36858566e-04 4.62834352e-05 5.35251788e...,93.952637,1.000000,2.705696,2.193271,2.311771,0.030933
4,03/01/2014,GOOG,27.454418,27.818977,27.520098,27.770908,66.917888,[[ 1.36858566e-04 4.62834352e-05 5.35251788e...,27.454418,0.902182,2.705696,2.193271,2.311771,0.030933

In [59]:
## Close Prices data frame

# Reset the Index to tic and date
df_prices = data_df.reset_index().set_index(['tick', 'date']).sort_index()

# Get all the Close Prices
df_close = pd.DataFrame()

for ticker in filtered_stocks:
    # Extract the close prices series for each ticker
    series = df_prices.xs(ticker).close
    df_close[ticker] = series

# # Concatenate all series at once to create the df_close DataFrame
# df_close = pd.concat(data_dict, axis=1)

In [22]:
# df_close_full_stocks['date'] = df_close_full_stocks.index

In [61]:
df_close.head()

,COST,PG,HD,GOOG,GOOGL,V,MSFT,WMT,AAPL,AMZN,ORCL,MA,UNH,JPM,XOM,LLY,AVGO,TSLA,META,NVDA
date,,,,,,,,,,,,,,,,,,,,
01/02/2016,127.932549,63.795162,102.184212,37.507885,38.443310,69.839462,48.258045,18.974398,21.840300,28.740499,31.663780,84.106964,101.552055,46.169086,51.037148,66.527527,10.648563,13.129333,114.744507,0.714947
01/02/2017,138.479004,70.880173,113.375191,39.687286,40.661316,77.996124,57.620892,19.158018,29.809208,41.617500,35.263340,100.453979,145.059296,68.518456,57.445751,67.615295,15.994738,16.615999,132.830063,NaN
01/02/2018,174.247101,71.837128,168.698242,58.241966,58.933571,119.785118,87.332817,31.312288,39.470413,69.500000,46.430786,166.590149,212.872711,96.384140,64.039886,73.682846,19.119452,23.283333,192.510361,NaN
01/02/2019,191.364899,84.458954,159.108353,55.401443,55.792847,134.423676,96.875153,28.513353,39.762127,81.311501,46.431084,207.082184,246.469482,87.887749,56.847378,110.804169,22.364803,20.813999,165.212570,NaN
01/02/2021,333.383942,117.515503,245.062454,94.834595,94.419708,192.654709,231.650009,43.885681,131.169449,167.143997,58.165565,314.777161,316.651825,117.088989,38.061005,194.213425,42.481213,279.936676,261.223480,13.204400

In [73]:
df_close['date'] = df_close.index

In [69]:
df_close.head()

,COST,PG,HD,GOOG,GOOGL,V,MSFT,WMT,AAPL,AMZN,...,UNH,JPM,XOM,LLY,AVGO,TSLA,META,NVDA,date,datee
date,,,,,,,,,,,,,,,,,,,,,
01/02/2016,127.932549,63.795162,102.184212,37.507885,38.443310,69.839462,48.258045,18.974398,21.840300,28.740499,...,101.552055,46.169086,51.037148,66.527527,10.648563,13.129333,114.744507,0.714947,01/02/2016,01/02/2016
01/02/2017,138.479004,70.880173,113.375191,39.687286,40.661316,77.996124,57.620892,19.158018,29.809208,41.617500,...,145.059296,68.518456,57.445751,67.615295,15.994738,16.615999,132.830063,NaN,01/02/2017,01/02/2017
01/02/2018,174.247101,71.837128,168.698242,58.241966,58.933571,119.785118,87.332817,31.312288,39.470413,69.500000,...,212.872711,96.384140,64.039886,73.682846,19.119452,23.283333,192.510361,NaN,01/02/2018,01/02/2018
01/02/2019,191.364899,84.458954,159.108353,55.401443,55.792847,134.423676,96.875153,28.513353,39.762127,81.311501,...,246.469482,87.887749,56.847378,110.804169,22.364803,20.813999,165.212570,NaN,01/02/2019,01/02/2019
01/02/2021,333.383942,117.515503,245.062454,94.834595,94.419708,192.654709,231.650009,43.885681,131.169449,167.143997,...,316.651825,117.088989,38.061005,194.213425,42.481213,279.936676,261.223480,13.204400,01/02/2021,01/02/2021

In [75]:
# Check the first few rows of the date column to confirm the format
print(data_df['date'].head())  # Replace 'date' with the actual column name if different

# If the date format is inconsistent, you can try to infer it
data_df['date'] = pd.to_datetime(data_df['date'], errors='coerce', dayfirst=True)

# Alternatively, if you know the correct format, you can specify it like so:
# data_df['date'] = pd.to_datetime(data_df['date'], format='%d/%m/%Y', errors='coerce')

# After cleaning, check for NaT values in the date column
print(data_df[data_df['date'].isna()])

# Now that the date column is cleaned and consistently formatted, you can continue with your previous operations
df_close.index = pd.to_datetime(df_close.index, errors='coerce', dayfirst=True).tz_localize(None)
df_close_full_stocks.index = pd.to_datetime(df_close_full_stocks.index, errors='coerce', dayfirst=True).tz_localize(None)
data_df.index = pd.to_datetime(data_df.index, errors='coerce', dayfirst=True).tz_localize(None)

# Proceed with your splitting logic as before
train_pct = 0.8  # percentage of train data
date_list = list(data_df.date.unique())  # List of dates in the data

date_list_len = len(date_list)  # len of the date list
train_data_len = int(train_pct * date_list_len)  # length of the train data

train_start_date = date_list[0]
train_end_date = date_list[train_data_len - 1]  # Corrected to ensure the end date is within the train set

test_start_date = date_list[train_data_len]  # This should start right after the train data
test_end_date = date_list[-1]

# Split the Close Prices data
prices_train_data = df_close.loc[df_close.index <= train_end_date]
prices_test_data = df_close.loc[df_close.index >= test_start_date]

# Split the Close Prices of all stocks
prices_full_train = df_close_full_stocks.loc[df_close_full_stocks.index <= train_end_date]
prices_full_test = df_close_full_stocks.loc[df_close_full_stocks.index >= test_start_date]

# Split the whole dataset
train_data = data_df.loc[data_df.index <= train_end_date]
test_data = data_df.loc[data_df.index >= test_start_date]

# Print the shapes of the datasets to confirm the split
print(f"Train Data Shape: {train_data.shape}")
print(f"Test Data Shape: {test_data.shape}")
print(f"Closeprices_Train Data Shape: {prices_train_data.shape}")
print(f"Closeprices_Test Data Shape: {prices_test_data.shape}")
print(f"Closeprices of all stocks_train Data Shape: {prices_full_train.shape}")
print(f"Close prices of all stocks_ Test Data Shape: {prices_full_test.shape}")

0    03/01/2014
1    03/01/2014
2    03/01/2014
3    03/01/2014
4    03/01/2014
Name: date, dtype: object
Empty DataFrame
Columns: [date, tick, close, high, low, open, volume, cov_list, stock_price, sentiment_score, f01, f02, f03, f04]
Index: []
Train Data Shape: (49315, 14)
Test Data Shape: (0, 14)
Closeprices_Train Data Shape: (2012, 22)
Closeprices_Test Data Shape: (503, 22)
Closeprices of all stocks_train Data Shape: (2265, 20)
Close prices of all stocks_ Test Data Shape: (503, 20)

In [41]:
print('Training Data: ', 'from ', train_start_date, ' to ', train_end_date)

Training Data:  from  03/01/2014  to  30/12/2021

In [43]:
print('Testing Data: ', 'from ', test_start_date, ' to ', test_end_date)

Testing Data:  from  31/12/2021  to  29/12/2023

In [45]:
test_data

Empty DataFrame
Columns: [date, tick, close, high, low, open, volume, cov_list, stock_price, sentiment_score, f01, f02, f03, f04]
Index: []

In [ ]:
#storing datasets

prices_train = prices_train_data.copy()
prices_test = prices_test_data.copy()

train_df = train_data.copy()
test_df = test_data.copy()

prices_full_train_df = prices_full_train.copy()
prices_full_test_df = prices_full_test.copy()

In [ ]:
%store prices_train
%store prices_test

%store train_df
%store test_df

%store prices_full_train_df
%store prices_full_test_df

In [81]:
prices_train_data.to_csv('datasets/prices_train.csv')

In [27]:
train_df.to_csv(datasets/train_df.csv)

NameError: name 'train_df' is not defined

In [ ]:
# import pandas as pd

# # Set the percentage of train data
# train_pct = 0.8

# # Check if 'date' is a column; if not, reset the index to access it
# if 'date' in data_df.columns:
#     date_list = sorted(data_df['date'].unique())
# else:
#     # If 'date' is the index, use it directly
#     date_list = sorted(data_df.index.unique())

# # Calculate the train/test split dates
# train_data_len = int(train_pct * len(date_list))
# train_start_date, train_end_date = date_list[0], date_list[train_data_len]
# test_start_date, test_end_date = date_list[train_data_len + 1], date_list[-1]

# print('Training Data: from', train_start_date, 'to', train_end_date)
# print('Testing Data: from', test_start_date, 'to', test_end_date)

In [ ]:
# # Ensure 'date' columns in df_close and df_close_full_stocks are datetime and timezone-naive
# df_close['date'] = pd.to_datetime(df_close['date']).dt.tz_localize(None)
# df_close_full_stocks['date'] = pd.to_datetime(df_close_full_stocks['date']).dt.tz_localize(None)

# # Set 'date' as the index for data_df if it's not already set
# if 'date' in data_df.columns:
#     data_df['date'] = pd.to_datetime(data_df['date']).dt.tz_localize(None)
#     data_df = data_df.set_index('date')

# # Define the data split function
# def data_split(data, start_date, end_date):
#     start_date, end_date = pd.to_datetime(start_date), pd.to_datetime(end_date)
#     return data[(data.index >= start_date) & (data.index <= end_date)]

# # Split the data based on calculated train and test dates
# train_data = data_split(data_df, train_start_date, train_end_date)
# test_data = data_split(data_df, test_start_date, test_end_date)

# # Split the Close Prices dataset
# prices_train_data = df_close[df_close['date'] <= train_end_date]
# prices_test_data = df_close[df_close['date'] >= test_start_date]

# # Split the Close Prices of all stocks
# prices_full_train = df_close_full_stocks[df_close_full_stocks['date'] <= train_end_date]
# prices_full_test = df_close_full_stocks[df_close_full_stocks['date'] >= test_start_date]

# # Displaying sample outputs to verify
# print("Train Data:", train_data.head())
# print("Test Data:", test_data.head())
# print("Prices Train Data:", prices_train_data.head())
# print("Prices Test Data:", prices_test_data.head())
# print("Full Train Prices:", prices_full_train.head())
# print("Full Test Prices:", prices_full_test.head())

In [ ]:
# # Save the updated dataframe to a CSV file (overwrite if necessary)
# df_close_full_stocks.to_csv('updated_df_close_full_stocks.csv', index=False)

In [ ]:
prices_full_train_df

In [ ]:
prices_train